// app/globals.css

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-100: rgb(245, 184, 65);
  --bg-primary: rgb(17, 24, 39);
  --ring-gray: rgb(55, 65, 81);
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(229, 231, 235);
  --text-accent: rgb(74, 222, 128);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}